@import "baze";
@import "variable";
@import "font";

body {
  background: $bg url("/static/image/bg_finish.svg") no-repeat center 100px;
  font-family: avenirNextCyr, sans-serif;
  color: $text;

  .finishFinishFee-image {
    display: block;
    margin: 0 auto;
    padding-top: 178px;
  }

  .finishFinishFee-title{
    padding-top: 33px;
    text-align: center;
  }

  .finishFinishFee-escape{
    padding-top: 145px;
    text-align: center;
    text-shadow: 0px 0px 10px $text;
  }
}