@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Regular.svg#avenirNextCyr') format('svg');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Bold.eot');
  src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Bold.svg#avenirNextCyr') format('svg');
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Italic.eot');
  src: url('../fonts/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Italic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Italic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Italic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Italic.svg#avenirNextCyr') format('svg');
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-BoldItalic.eot');
  src: url('../fonts/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff'),
  url('../fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-BoldItalic.svg#avenirNextCyr') format('svg');
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Medium.eot');
  src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Medium.svg#avenirNextCyr') format('svg');
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Light.eot');
  src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Light.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Light.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Light.svg#avenirNextCyr') format('svg');
  font-weight: 300; /* Light weight */
}

@font-face {
  font-family: 'avenirNextCyr';
  src: url('../fonts/AvenirNextCyr-ultralight.eot');
  src: url('../fonts/AvenirNextCyr-ultralight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-ultralight.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-ultralight.woff') format('woff'),
  url('../fonts/AvenirNextCyr-ultralight.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-ultralight.svg#avenirNextCyr') format('svg');
  font-weight: 200; /* Ultralight weight */
}

