@import "baze";
@import "variable";
@import "font";

body {
  background: $bg url("/static/image/bg_finish.svg") no-repeat center 100px;
  font-family: avenirNextCyr, sans-serif;
  color: $text;

  .notFinish-image {
    display: block;
    margin: 0 auto;
    padding-top: 248px;
  }

  .notFinish-title{
    padding-top: 33px;
    text-align: center;
  }

  .notFinish-escape{
    padding-top: 121px;
    text-align: center;
    text-shadow: 0px 0px 10px $text;
  }
}