<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
    <link rel="stylesheet" href="/static/sass/payment.css">
</head>
<body>
<div class="payment">
    <div class="payment__cost">
        <div class="payment__cost-list">
            <p class="payment__cost-title">Стоимость</p>
            <h1 class="payment__cost-price">673$</h1>
        </div>
    </div>
    <ul class="payment__info">
        <li class="payment__info-org">
            <p>Название организации</p>
            <p>Профсоюз</p>
        </li>
        <li class="payment__info-aim">Цель</li>
    </ul>
    <ul class="payment__form">
        <li class="payment__form-FIO">
            <input type="text" name="card" placeholder="ФИО">
        </li>
        <li class="payment__form-sum">
            <input type="text" name="card" placeholder="Сумма">
        </li>
        <li class="payment__form-message">
            <input type="text" name="card" placeholder="Сообщение">
        </li>
    </ul>
    <button class="payment__button">Оплатить</button>
</div>
</body>
</html>